.caixa{
    background-color: #d3777d;
}
.titulo2{
    color: white !important;
    font-weight: bold !important;
}
.botao{
    border-color: white !important;
    background-color: #975261 !important;
    color: white !important;
}
.postagens{
    background-color: white;
}
.text-decorator-none{
    text-decoration: none;
}
