.topo{
    margin-top: 20px;
}
.botao1{
    border-color: white !important;
    background-color: #975261 !important;
    color: white !important;
}
.fonte1{
    font-family: sans-serif !important;
    color:bisque !important;
}
