.box1{
    background: linear-gradient(36deg, #975261 8%, #d3777d 89%) !important;
    height: 120px;
}
.redes{
    font-size: 60px !important;
    color: white;
    transition: transform 0.5s;
}
.redes:hover{
    transform: scale(1.4);
    color: bisque;
}
.box2{
    background-color: #975261;
    height: 60px;
}
.textos{
    font-family: sans-serif !important;
    color:bisque !important;
    font-weight: bold !important;
 }

